---
active_tab: members
page_header: Members
---

<ul class="members">
    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/chardee_galan.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Chardee Galan</h2>
            <h2 class="member-sub-header">Founder</h2>
            Chardee Galan is currently the project coordinator in Dr. Jeffrey Wood's lab at UCLA, which  focuses on developing, evaluating, and disseminating evidence-based treatment interventions for high functioning children with autism. However, she is broadly interested in youth with ADHD and disruptive behavior disorders, and she will be enrolling in a clinical Ph.D. program in the fall of 2014 to further pursue and refine these research interests. She has had an extensive history of leadership involvement, particularly in research contexts, serving as the Editor-in-Chief for the Undergraduate Journal of Psychology at Berkeley for two years (2010-2012), co-finding and directing UC Berkeley's first psychology undergraduate research conference (BerkPURC) for two years (2009-2011), and ultimately, creating one of UC Berkeley's first interdisciplinary research conferences for undergraduate students (BIRC; 2011-2012). In the spring of 2013, she assembled a group of highly talented undergraduate UCLA students to create the Undergraduate Research Journal of Psychology at UCLA, and she is extremely excited to be working with a group of such eager and ambitious students dedicated to empowering undergraduate students and disseminating scholarly research!
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/anthony_osuna.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Anthony Osuna</h2>
            <h2 class="member-sub-header">Editor-in-chief, Co-Founder</h2>
            Together with three of his close friends and colleagues, Anthony co-founded The Undergraduate Research Journal of Psychology in 2013. He is from San Diego, CA, and is a fourth-year Psychology student with a minor in Applied Developmental Psychology. As a Ronald E. McNair Scholar, he is currently conducting an independent research project that examines personality in children with autism spectrum disorder (ASD). His past work includes working with Dr. Jeffrey Wood's treatment interventions for children with ASD, and he is currently collaborating with Dr. Ted Hutman on research that looks at infant siblings of children with ASD. On a personal level, Anthony is an avid sports fan and enjoys all things UCLA. Ultimately, he aspires to obtain a Ph.D. in Clinical Psychology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/alisa_munoz.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Alisa Muñoz</h2>
            <h2 class="member-sub-header">Junior Editor-in-chief</h2>
            Alisa R. Muñoz is Junior Editor-in-Chief for the Undergraduate Research Journal of Psychology at the University of California, Los Angeles. She is a psychology major and cognitive science minor. Alisa is also involved as a student researcher at the Green Neuroscience Laboratory in San Diego, California, a non-profit lab that aims to study the brain and its relation to the body, the environment, and society in ways that are sustainable and inclusive.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/vincent_nguyen.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Vincent Nguyen</h2>
            <h2 class="member-sub-header">Junior Editor-in-chief</h2>
            Vincent Nguyen is a third-year psychobiology student from Orange County, CA. Vincent's research interests include mapping the neuroanatomy of the brain of patients with various brain disorders. He has also worked in the Department of Molecular Cell Development Biology at UCLA researching the effects of RNAi on the hematopoietic system of D. melanogaster. As a clinic assistant for the Venice Family Clinic, Vincent has worked with underprivileged communities and patients in the Los Angeles area. Currently, Vincent is a UCLA Noyce Scholarship Recipient and has taught kids in the greater Los Angeles area. His aspirations include researching and serving underserved communities in the future. When he is not in class or participating in extracurricular activities, Vincent enjoys playing basketball as well as running.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/emily_chen.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Emily Chen</h2>
            <h2 class="member-sub-header">Chief of Submissions</h2>
            Emily June Chen is a fourth year Psychology major, Applied Developmental Psychology minor, hoping to enter the field of marketing after her graduation in June 2015. She has worked as a marketing intern for several start-ups, and has been a brand ambassador for Spotify. She strives to enter challenging environments that will help foster her professional and personal growth, and is constantly looking for opportunities to build strong and enriching interpersonal connections
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sydney_cessna.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sydney Cessna</h2>
            <h2 class="member-sub-header">Chief of Marketing</h2>
            Sydney Cessna is a fourth year Psychology major, French minor from Dallas, Texas. In her career, Sydney hopes to obtain an MBA and become a project manager for a large tech firm. Currently she works as a media advisory intern at a consulting agency, MediaLink. Her past internships were in digital media at MEC and agency marketing at Farmers Insurance. Additionally she has well as two years of research experience in the Social Cognitive Neuroscience (SCN) Lab. In Spring of 2014, she presented a project “Vasopressin Increases the Ability to Discriminate Between Honesty and Deception in Individuals with High Levels of Empathic Concern” at the Psychology Undergraduate Research Conference (PURC). In her spare time, Sydney enjoys cooking, yoga, indie music, and traveling.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/ysrael_hernandez.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Ysrael Hernandez</h2>
            <h2 class="member-sub-header">Editor</h2>
            Ysrael Hernandez is a third year Biology major at UCLA with aims of getting into the world of academia. Originally from Torrance, Ysrael aims to obtain a PhD in molecular biology and run his own laboratory. His current research project deals with melanoma and melanoma related cancers at the John Wayne Cancer Institute under the supervision of Dr. Hoon. When not studying for midterms, Ysrael enjoys stargazing with his telescope and sightseeing with friends and family.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/kelly_chen.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Kelly Chen</h2>
            <h2 class="member-sub-header">Editor</h2>
            Kelly Chen is a fourth year undergraduate psychology student. In addition to her involvement in the journal, Kelly is part of three different psychology research labs at UCLA. Her main research interest lies in understanding how culture affects thinking, development, and behavior. She is currently conducting an honors thesis project as part of the Ronald E. McNair Research Scholars Program. During her free time, she likes to go on food adventures around LA.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jingqi_yu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jingqi Yu</h2>
            <h2 class="member-sub-header">Editor</h2>
            Eve (Jingqi) Yu is a third-year cognitive science and communication studies double major from China. Eve’s interested in artificial intelligence and fascinated by the fact that the 3-pound human brain plays such a key role in our lives, including memory, decision-making, and learning. Her research interests include human learning and reasoning, human-computer interaction, cyberpsychology, and electronic educational environments. As an honors student/research assistant in the Bjork Learning & Forgetting Lab, Eve has helped to examine, design, and develop effective learning techniques. Currently, Eve works as an internship peer advocate at the UCLA Career Center, hoping to help students finding opportunities that best suit their needs and talents. Eve aspires to earn a PhD in cognitive science, with an emphasis on computer programming and/or information studies, so she may eventually become a professor or developer for interactive learning technologies. When she is free, Eve enjoys travelling, painting, shopping, and eating.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/tyler_jones.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Tyler Jones</h2>
            <h2 class="member-sub-header">Editor</h2>
            Tyler Jones is a 3rd year Psychology major and Public Affairs minor from Pasadena, California.  Tyler is interested in the factors that account for racial disparities in the criminal justice system and plans to pursue a career in criminal law or psychological research in order to investigate and mitigate these factors.  Tyler is also interested in Psychology research, and has been involved with UCLA’s Social Communications Lab where he investigated the nature and origins of various biases
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jackie_tsao.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jackie Tsao</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jackie Tsao is a third-year psychobiology major. She currently does research on pediatric epilepsy and has done research on neuroimaging in the past. Jackie is also interested in studying Alzheimer's disease and neurodegeneration. She hopes to go to medical school and eventually become a neurologist. In her spare time, Jackie enjoys sewing, hiking, and gardening.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/linda_tsan.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Linda Tsan</h2>
            <h2 class="member-sub-header">Editor</h2>
            Linda Tsan is a 4th year undergraduate majoring in Psychobiology at UCLA. She spent the summer of 2014 researching metabolism at Yonsei University in Korea and is currently involved in a brain tumor laboratory and an addiction laboratory at UCLA. As a MSD scholar, she plans to apply for graduate programs in behavioral neuroscience in the fall. Aside from research, she enjoys writing, hiking, and listening to TED talks.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jake_elder.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jake Elder</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jacob is a Senior Psychology major at UCLA. He currently works in two labs, one under Richard LeBeau assisting in the research of the onset of Social Anxiety. The other lab he works in is under the graduate student Ariana Bell, assisting in researching issues of prejudice, stigma and discrimination. He also is currently working on an honors thesis researching the implications of self-perceptions of attractiveness on individual differences in expression of personality traits, beliefs and attitudes. Jacob hopes to attain a PhD in Social Psychology, specifically with regards to how social psychological process and social experiences impact psychological functioning, well-being, and physical health outcomes. He hopes to pursue research integrating topics on the self, emotion regulation and interpersonal processes to research how people evaluate others' behavior towards them, their own awareness and perceptions of themselves, and how this dynamic may impact personal affect, self-esteem, and health outcomes. When he is not studying or working, Jacob enjoys writing, reading, photography, hikes, and going to concerts.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sarah_white.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sarah White</h2>
            <h2 class="member-sub-header">Editor</h2>
            Sarah White is a fourth-year Cognitive Science major who is also finishing her two minors in Neuroscience and Education Studies. She plans to earn her PhD in Learning Sciences or a related field with the intent of researching how learning can be more personalized and effective with the use of technology. As a research assistant and Departmental Honors student, Sarah has worked on many research projects which investigated parental question-asking behavior, perceptual learning in chemistry, bilingual development, and the links between executive function and math, to name a few. When Sarah is not promoting equity in education with Students for Education Reform or the UCLA Academic Affairs Commission, you can find her playing piano, Zumba dancing, or eating frozen yogurt with her Kappa Delta sorority sisters.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sabrin_sidhu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sabrin Sidhu</h2>
            <h2 class="member-sub-header">Editor</h2>
            Sabrin Sidhu is a first-year psychobiology student from Valencia, CA. She is a UCLA Alumni Scholar and a Lions Club scholarship recipient. Sabrin also does research in Dr. Isaac Yang’s neurosurgery lab and Dr. Zili Liu’s perceptual processing and computation lab. Currently, she is a writer for Total Wellness Magazine and a state ranked public speaker. In her free time, Sabrin enjoys baking European pastries, reading, and spending time with her family.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jasmine_sidhu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jasmine Sidhu</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jasmine Sidhu is a second-year psychobiology student from Valencia, CA. She does research for Dr. Zili Liu’s perceptual processing and computation lab at UCLA. Jasmine also researches for Dr. Jesus Araujo’s lab which studies environmental cardiology and the biology of vascular oxidative stress at UCLA David Geffen Medical School. Furthermore, she is a writer for Total Wellness Magazine, an Alumni Scholar, and a published manuscript author. Outside of school, Jasmine loves to travel the world, cook, and paint.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/jake_gavenas.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jake Gavenas</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jake Gavenas is a second year psychology major possibly aiming to minor in neuroscience, philosophy, or statistics. Jake intends to pursue a degree in clinical psychology, and is also interested in research. He comes from South Pasadena, California, a small town south of Pasadena, California. He enjoys playing bass way too loud and reading a good book in between cracking puns and debating his roommates on scientific and philosophical topics.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/victor_chavez.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Victor Chavez</h2>
            <h2 class="member-sub-header">Editor</h2>
            Victor Chavez is a third-year student majoring in psychology and minoring in global studies. As a research assistant in Dr. Goff’s Psychology of Social Justice laboratory, Victor studied systematic ways to study racism and discrimination. He aspires to fight for social justice in law school and in his community. In his spare time, Victor enjoys running, cooking and exploring LA.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/molly_mann.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Molly Mann</h2>
            <h2 class="member-sub-header">Editor</h2>
            Molly Mann is a senior at UCLA and serves as an Editor on the URJP staff. She is the manager for the UCLA women's basketball program and believes UCLA is the greatest place on earth. She aspires to pursue a Masters' Degree in Social Welfare and work in children's welfare and the foster care system.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/cheryl_li.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Cheryl Li</h2>
            <h2 class="member-sub-header">Editor</h2>
            Cheryl is a junior at UCLA working on a B.Sc in Psychobiology. She is a research assistant in the UCLA glutamate study investigating the effects of d-cycloserine on memory and learning, focusing particularly in the schizophrenic population. She hopes to pursue a PhD in either developmental or forensic psychology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/arianna_hunter.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Arianna Hunter</h2>
            <h2 class="member-sub-header">Editor</h2>
            Arianna is a psychology and business/economics double major. Pursuing clinical/forensic therapy or HR in the entertainment industry, she is also the director of community service/external affairs for Bruins for Animals and the VP of community service for the National Society of Collegiate Scholars at UCLA.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sharon_wang.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sharon Wang</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Sharon Wang is a first-year psychobiology student and intends on minoring in Applied Developmental Psychology. Sharon hopes to become a child psychiatrist who travels to speak at various schools and colleges. She is from Fremont, California, which is part of the Bay Area so she loves eating and cooking delicious, ethnic foods. In her free time, she likes to run marathons, parasail, cliff jump, skydive, and travel. Sharon volunteers with Bruins for Ronald McDonald, which is an organization that works closely with children. She attends health fairs where she takes the blood pressure and BMI of patients and records them for research in Asian Pacific Health Corps. Sharon also participates in Women and Youth Supporting Each Other by going to a local Los Angeles middle school and mentoring teenaged girls.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/therese_todd.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Therese Todd</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Therese Todd is originally from Silver Spring, Maryland, and a second year undergraduate at UCLA studying psychology.  Apart from working on URJP, she is an office and research intern at an Addiction Treatment Center in Beverly Hills. Her main areas of interest are addiction and forensic psychology, which focuses on the overlap of psychology and the law. She is also the Director of Standards and Ethics for Alpha Delta Pi Sorority. She is currently looking into different opportunities in psychological research and clubs, and social work internships as well.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/hannah_neiderman.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Hannah Neiderman</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Hannah is a second year psychology major. Coming from the home of Coachella, the hot desert of Palm Springs, she is excited to have the opportunity to be a part of the Undergraduate Research Journal of Psychology. She also cannot wait to get more involved in research and labs throughout her UCLA career. She hopes to minor in applied developmental psychology because she plans on becoming a child psychologist who partakes in both research and clinical child psychology. She is a member of Alpha Delta Pi sorority who loves to read any and all books, watch Netflix, play softball and spend time with her family and friends.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/veronica_zhu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Veronica Zhu</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Tianyi (Veronica) Zhu is second year Psychology student from China. She is currently a research assistant in the UCLA Computational Vision and Learning Lab. She is interested in the research of perception and learning and aims to go on to a Ph.D program after graduation, hoping to become a professor and researcher. She loves art and theater. As a member of the Cfan Theater Group, she worked as the stage manager in the fall quarter’s play, Dear Sophia.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/sarah_henry.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sarah Henry</h2>
            <h2 class="member-sub-header">Marketing</h2>
            Sarah Henry is a first year Neuroscience student with hopes of minoring in Applied  Developmental Psychology. Sarah wants to become either a Child Developmental  Psychologist or a Neurosurgeon. She is from a small town on the peninsula called  San Carlos, California. She is a member of Kappa Alpha Theta sorority on campus and her hobbies include photography and film production.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/mako_tanaka.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Mako Tanaka</h2>
            <h2 class="member-sub-header">Marketing</h2>
            Sophie (Mako) Tanaka is a third-year psychology and transfer student from Orange County, CA. Mako’s research interests are concerned with how psychological concepts, such as Carol Dweck’s Mindset theory and the stereotype threat phenomena, can be applied to issues in education, such as the gender gap in STEM fields; she is currently exploring these interests through her UCLA Undergraduate Research Fellows Program. Mako is also gaining experience with psychology and education cross-disciplinary research by serving as a research assistant for the UCLA Middle School Diversity Project Lab. In addition, Mako is a UCLA Alumni Scholar, and she serves as an Internal Development Coordinator for the Alumni Scholars Club. Mako aspires to earn a PhD in social psychology, with a quantitative minor, so that she may eventually become a professor and researcher of psychology. When she is not is class or participating in extracurricular activities, Mako enjoys spending time with her friends, family, and four adorable cats.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/patricia_natalie.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Patricia Natalie</h2>
            <h2 class="member-sub-header">Graphics</h2>
            Patricia Natalie is a graduating third-year Psychobiology student whose research interests revolve around food, eating behaviors, and body image. She is particularly interested in how a wide array of external factors psychologically affects our hunger and satiety. Having lived in both Indonesia and Singapore for most of her life, she is also intrigued by the cultural differences she constantly notices in people’s eating behaviors. To pursue her interest, she has been a research assistant for more than a year in Dr. A. Janet Tomiyama’s food psychology lab which focuses on eating, weight, dieting, stress, and overarching health. She is now undertaking her own independent research project on the relationship between food and alcohol. Outside academia, Patricia holds a position in the executive committee of SWC’s Body Image Task Force as well as Alpha Phi Omega community service fraternity.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/terri_shih.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Terri Shih</h2>
            <h2 class="member-sub-header">Graphics</h2>
            Terri Shih is a first year Psychobiology major, aiming to pursue a Specialization in Computing, and aspires to become a physician in the future. She grew up in Burma and Taiwan and later moved to Fremont, California. Currently, Terri is researching the biological processes associated with neurodegenerative diseases at David Geffen School of Medicine’s Department of Neurology with Dr. Zhefeng Guo, and serves as the Head of Contacts for MESH’s (Medical Experience Through Service in Healthcare) Health Fair committee. A Designer for the Daily Bruin, she also enjoys working as a freelance artist in photography, digital illustrations, and graphics design.
        </div>
    </li>
</ul>

<!-- 2013-2014 members. Hide for now. -->
<ul class="members" style="display: none;">
    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/chardee_galan.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Chardee Galan</h2>
            <h2 class="member-sub-header">Founder</h2>
            Chardee Galan is currently the project coordinator in Dr. Jeffrey Wood's lab at UCLA, which  focuses on developing, evaluating, and disseminating evidence-based treatment interventions for high functioning children with autism. However, she is broadly interested in youth with ADHD and disruptive behavior disorders, and she will be enrolling in a clinical Ph.D. program in the fall of 2014 to further pursue and refine these research interests. She has had an extensive history of leadership involvement, particularly in research contexts, serving as the Editor-in-Chief for the Undergraduate Journal of Psychology at Berkeley for two years (2010-2012), co-finding and directing UC Berkeley's first psychology undergraduate research conference (BerkPURC) for two years (2009-2011), and ultimately, creating one of UC Berkeley's first interdisciplinary research conferences for undergraduate students (BIRC; 2011-2012). In the spring of 2013, she assembled a group of highly talented undergraduate UCLA students to create the Undergraduate Research Journal of Psychology at UCLA, and she is extremely excited to be working with a group of such eager and ambitious students dedicated to empowering undergraduate students and disseminating scholarly research!
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/lauren_wong.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Lauren Wong</h2>
            <h2 class="member-sub-header">Senior Editor-in-chief, Co-Founder</h2>
            Lauren is a fourth-year majoring in psychobiology. She has worked as a research assistant for two labs at UCLA: Dr. Jeffrey Wood’s lab which is implementing a cognitive behavioral therapy program for children with autism, and Dr. A. Janet Tomiyama’s lab which is investigating the intersections between dieting, stress, and health. Her other interests include art museums and live music.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/anthony_osuna.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Anthony Osuna</h2>
            <h2 class="member-sub-header">Junior Editor-in-chief, Co-Founder</h2>
            Anthony is currently a third-year psychology major and applied developmental psychology minor. He is a research assistant in Dr. Jeffrey Wood’s autism (ASD) intervention lab, and as a McNair Research Scholar, intends to conduct independent research on children with ASD. Ultimately Anthony aspires to obtain a Ph.D in clinical or developmental psychology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/chloe_tagawa.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Chloe Tagawa</h2>
            <h2 class="member-sub-header">Editor, Co-Founder</h2>
            Chloe Tagawa is a fourth-year psychology major and disability studies minor.  She is currently a research assistant in Dr. Jeffrey Wood's lab, which implements a cognitive behavioral therapy treatment for children with high-functioning autism. She hopes to pursue a career as a speech-language pathologist.  In her spare time she enjoys hiking, yoga, and watching movies.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/mary_sau.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Mary Sau</h2>
            <h2 class="member-sub-header">Editor</h2>
            Mary is a fourth year psychobiology major minoring in science education. In her spare time, she enjoys eating, jogging, power napping, and spending time with friends and family. Though undecided about future plans, she hopes to combine her interests of educational and health psychology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/melissa_avila.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Melissa Avila</h2>
            <h2 class="member-sub-header">Editor</h2>
            Melissa is a fifth-year psychology/Chicano studies double major and political science/labor and workplace studies double minor. Her research interests lie in substance abuse, in particular, how clinical disorders affect individuals with addictions to substances in minority populations and identifying what social/environmental stressors might be related to addictive behaviors in these communities. In the future, she hopes to pursue a Ph.D in clinical psychology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/molly_mann.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Molly Mann</h2>
            <h2 class="member-sub-header">Editor</h2>
            Molly is a UCLA sophomore and psychology major. She is an editor on the URJP staff and the manager of the Women's Basketball program. She aspires to go into the field of health and education, focusing on under-developed communities, and is a Bruin through and through.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/jingqi_yu.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jingqi Yu</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jingqi Yu is a second-year cognitive science major. She enjoys every single aspect of this field, especially artificial intelligence, human perception, and interpersonal relationships. She hopes that the combination of technology and psychology will yield some interesting and amazing findings.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/kelly_chen.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Kelly Chen</h2>
            <h2 class="member-sub-header">Editor</h2>
            Kelly Chen is a third-year undergraduate psychology student. She recently transferred to UCLA from Pasadena City College. Her general research lies in how culture affects thinking and behavior. Right now she is currently developing an independent research project as part of the McNair Scholars Research Program.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/jenna_goren.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jenna Goren</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jenna Goren is a third year psychology major and applied developmental psychology minor at UCLA. She currently holds internships at Trial Partners, Inc and the UCLA Megan E. Daly Infant Development Program. She hopes to pursue a doctorate degree in social or forensic psychology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/alisa_munoz.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Alisa Muñoz</h2>
            <h2 class="member-sub-header">Editor</h2>
            Alisa R. Muñoz is an editor for the Undergraduate Research Journal of Psychology at the University of California, Los Angeles. She is a psychology major and cognitive science minor. Alisa is also involved as a student researcher at the Green Neuroscience Laboratory in San Diego, California, a non-profit lab that aims to study the brain and its relation to the body, the environment, and society in ways that are sustainable and inclusive.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/jake_elder.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jake Elder</h2>
            <h2 class="member-sub-header">Editor</h2>
            Jake Elder is a third year Psychology major. He is currently a research assistant for the Psychology of Social Justice Lab under Philip Goff, as well as in a lab studying the onset of social anxiety under Richard LeBeau. Besides his pursuits in Psychology, he is a Director of Hospitality for the JazzReggae Festival at UCLA, and was formerly a sports contributor for the Daily Bruin. Currently, he is aspiring to attain a PhD in Clinical Psychology at a program with focuses on both research and clinical practices, although he is still narrowing down what topic he specifically hopes to pursue.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/arianna_hunter.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Arianna Hunter</h2>
            <h2 class="member-sub-header">Editor</h2>
            Arianna is a psychology and business/economics double major. Pursuing clinical/forensic therapy or HR in the entertainment industry, she is also the director of community service/external affairs for Bruins for Animals and the VP of community service for the National Society of Collegiate Scholars at UCLA.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/sydney_cessna.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Sydney Cessna</h2>
            <h2 class="member-sub-header">Marketing Chief</h2>
            Sydney Cessna is a third-year psychology student in the marketing staff. She has had direct marketing experience during her internship at Farmers Insurance, as well as research experience in a social psychology lab. Sydney enjoys cooking, art, indie music, and traveling.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/crystal_zamora.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Crystal Zamora</h2>
            <h2 class="member-sub-header">Marketing</h2>
            Crystal Zamora is a fourth-year anthropology student and developmental psychology minor. Currently she is interning at the Megan E. Daly infant development program, and is senior health educator with Peer Health Exchange. She plans on graduating in June and pursuing journalism in the field of psychological anthropology.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/jen_hichar.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Jen Hichar</h2>
            <h2 class="member-sub-header">Marketing</h2>
            Jen Hichar is a first-year student majoring in psychology. She also plans to minor in English. She is from Boston, Massachusetts. Her hobbies include yoga, skiing, and watching movies. Although she is new to UCLA, she is very excited to be on the marketing team!
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/cheryl_li.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Cheryl Li</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Cheryl is currently a second-year undergraduate student at UCLA majoring in psychobiology. She is a research assistant in the UCLA glutamate study investigating the effects of d-cycloserine in memory and learning. She is particularly interested in the research of developmental psychology and hopes to explore the effects music therapy may have on the development of autistic children.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/kate_beall.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Kate Beall</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Kate is currently finishing up her final year at UCLA and working on a B.A. in psychology. Kate is an undergraduate research assistant in a UCLA psychology lab and a member of the submissions team for the URJP. She hopes to go on to a clinical psychology Ph.D. Program in the near future.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/fabian_alvarez.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Fabian Alvarez</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Fabian’s general interests in psychology are based upon understanding the social processes that are instilled into a population so that concepts such as race, culture and value in political ideologies are learned, maintained and behaved upon in order to interact with the diversity of social structures and societies.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/emily_chen.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Emily Chen</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Emily Chen is currently a third-year majoring in psychology at UCLA. She has worked as a research assistant for three labs on-campus, which specialize in health, cognitive and relationship domains. She aims to attain her Ph.D. in psychology after graduation, in hopes of becoming a professor.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/therese_todd.jpg"/>
        <div class="bd bd-member">
            <h2 class="member-header">Therese Todd</h2>
            <h2 class="member-sub-header">Submissions</h2>
            Therese Todd is from the D.C. Metropolitan Area and came to UCLA in hopes to have many opportunities to get involved in research projects, be challenged inside and out of the classroom, and have an experience of a lifetime! She is very passionate about psychology and plans on being an addiction therapist or working with the severely mentally ill in the criminal population.
        </div>
    </li>
</ul>
